@charset "UTF-8";

	h1, h2, h3, h4 {
		text-align: center;
		font-family: cursive;
	}
	table {
		width: 70%;
		text-align: center;
		border-collapse: collapse;
		margin: 0 auto;
	}
	table, tr, td, th {
		border: 1px solid blue;
	}
	th, td {
		font-weight: bold;
	}
	tr:hover {
		background-color: gray;
		font-size: 103%;
	}
	.tablea tr:nth-child(2n+1) {
		background-color: gray;
	}
	.tableb tr:nth-child(2n) {
		background-color: silver;
	}